# Python environments
venv/
env/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Local database
database.db

# User Uploads
backend/uploads/
uploads/

# OS Files
.DS_Store
Thumbs.db
